
body {
  font-family: 'Inria Sans', sans-serif;
  margin: 0;
  margin-top: 65px;
  background-color: #f7f7f7;
}


.typewriter h1 {
  padding-top: 80px;
  padding-bottom: 80px;
  font-weight: 300;
  text-align: center;
}

.overskrift{
  font-size: 3vw;
  font-weight: 300;
}

.inndeling{
  font-size: 15px;
  color: grey;
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}



.kont{
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.kont:hover{
  color: #DF8101;
}

.brodtekst{
  font-family: sans-serif;
  font-size: 14px;
}

.content{
  max-width: 1000px;
  margin: 0 auto;
}

.cv_boks{

}
.navbar-content{
  max-width: 1000px;
  margin: 0 auto;
}

#annefroyen{
  font-size:20px;
  left:20px;
  font-family: 'Press Start 2P';
}
.menu-items-right{
  float:right;
}
.navbar {
  z-index:1;
  padding: 20px;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */;
}

@media only screen and (max-width: 900px) {
  .navbar a{
    display: none;
  }



}

.navbar a {
  font-size: 15px;
  text-decoration: none;
vertical-align: middle;
  color: black;
  padding: 30px;

}

.navbar a:hover{
  color: #DF8101;
}

hr{
  position: relative;
  width: 100%;

}

#webutvikler{
  text-decoration: underline;
  -webkit-text-decoration-color: #048BA8;
  text-decoration-color: #048BA8;
}

.prosjekt{
  height: 500px;
  width: 100%;
  background-color: grey;
  display: flex;
  align-items: center; /* vertikal sentrering */
  justify-content: center; /* horisontal sentrering */
  margin-top: 20px;
  margin-bottom: 20px;
}

.folk{
  background: url("../bilder/kommuner.png") no-repeat ;
  background-size: auto ;
 }

.framtiden{
  background: url("../bilder/framtiden.PNG") no-repeat;
  background-size: auto ;
  }

.hitori{
   background: url("../bilder/hitori.png");
   background-size: auto ;
  }

* {
  box-sizing: border-box;
}

.prosjektboks {
  z-index: 0;
  position: relative;
  padding: 20px;
  background-color: white;
  transition: transform .4s;
  transition-delay: 500ms;
  display: flex;
  width: 60%;
  height:
  align-items: center; /* vertikal sentrering */
  justify-content: center; /* horisontal sentrering */
  margin: 0 auto;
}

.prosjektboks h2{
  transition-delay: 500ms;
}

.prosjektboks:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  transition-delay: 0ms;

}
.prosjektboks:hover  h2 {
  opacity: 0;
  transition-delay: 0ms;
}

.prosjektOverskrift{
  position: absolute;
  font-size: 35px;
  align-items: center; /* vertikal sentrering */

}

.prosjektTekst{
  position: relative;
  padding: 20px;
  transition: .4s;
  transition-delay: 0ms;
  font-size: 10px;
  align-items: center; /* vertikal sentrering */
  justify-content: center; /* horisontal sentrering */
  margin: 0 auto;
  opacity: 0;
  text-align: center;
}

.prosjektboks:hover .prosjektTekst{
  opacity: 1;
  transition-delay: 400ms;

}

@media (max-width: 600px) {
  .prosjektboks:active{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    transition-delay: 0ms;

  }
  .prosjektboks:active  h2 {
    opacity: 0;
    transition-delay: 0ms;
  }
  .prosjektboks:active .prosjektTekst{
    opacity: 1;
    transition-delay: 400ms;

  }
}


.wrapper {
  width: 90%;
  margin: 10px auto;
}
.row {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 1em;

}

.cell {
  display: table-cell;
  padding:.5em;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}


@media (max-width: 600px) {
  .row,
  .cell
  {
    display: block;
  }
}

#kontakt_innhold{
  text-align: center;
  padding: 30px;
}




.footer{
  background-color: black;
  padding: 20px;
  color: white;
  bottom: 0;
  position: relative;
  width: 100%;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.footer_icons{
    text-decoration: none;
    color: white;
    padding: 10px;

}

.instagram_icon:hover i:before{
  background: rgb(255,162,4);
   background: linear-gradient(20deg, rgba(255,162,4,1) 18%, rgba(189,15,204,1) 75%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.behance_icon:hover i:before{
  color: #053eff;
}

.github_icon:hover i:before{
  background: rgb(44,0,77);
background: linear-gradient(0deg, rgba(44,0,77,1) 0%, rgba(149,25,156,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.linkedin_icon:hover i:before{
  color: #0072b1;
}



.grid-container {
  margin: 10px;
  display: grid;
  grid-template-columns: 5% 31.6% 31.6% 31.6%;
  grid-template-rows: 4% 9.5% 9.5% 9.5% 9.5% 9.5% 9.5% 9.5% 9.5% 9.5% 9.5%;
  grid-template-areas: ". Utdanning Erfaring Verv" "tjue uib aquacare ." ". uib . ." "nitten hvl akademika ." ". hvl akademika okonomi" "atten hvl norli okonomi" ". hvl norli arrangement" "sytten hvl norli arrangement" ". hvl norli ." "seksten hafstad norli ." ". hafstad norli .";
}

.cv_headers{
  text-align: center;


}
.Utdanning { grid-area: Utdanning; }
.Erfaring { grid-area: Erfaring; }
.Verv { grid-area: Verv; }

.cv_boks{
  padding: 20px;
  margin: 1vw;
  height:100%;
  word-wrap: break-word;

}


.hvl {
  grid-area: hvl;
  background-color:#DF8101;
  color: white;

}

.uib {
grid-area: uib;
  background-color:#F18F01;
  color: white;
 }

.hafstad {
  background-color:#CD7201;
  color: white;
  grid-area: hafstad; }

.aquacare {
  background-color:#048BA8;
  color: white;
  grid-area: aquacare;
      margin-bottom:900px;
 }

.akademika {
  background-color: #047F9B;
  color: white;
  grid-area: akademika; }

.norli {
  background-color: #03738E;
  color: white;
  grid-area: norli; }

.arrangement {
  background-color: #293A51;
  color: white;
  grid-area: arrangement;

}

.okonomi {
  background-color: #2E4057;
  color: white;
   grid-area: okonomi;
}

.cv_aar{
  border-bottom: 3px solid black;


}
.cv_aar p{
  height: 85%;
  display:flex;
  align-items: flex-end;
  justify-content: flex-end;
  float: left;
  padding: 5px;
}

@media (max-width: 600px) {
  .cv_aar
  {
    display: none;
  }
}



.tjue {
  grid-area: tjue; }

.nitten { grid-area: nitten; }

.atten {
  grid-area: atten; }

.sytten { grid-area: sytten; }

.seksten { grid-area: seksten; }

.cv_logo{
  max-height: 4vh;
max-width: 10vw;
float: left;
}

.kontakt_bilde{
  width: 300px;
  height: 400px;
}

.kontakt_footer{
  padding: 20px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 0;
  height: 200px;
  width: 100%;
  text-align: center;
}
