
body {
  font-family: 'Inria Sans', sans-serif;
  margin: 0;
  margin-top: 200px;
  background-color: #f7f7f7;
}

.inndeling{
  font-size: 15px;
  color: grey;
  margin-left: 5vw;
}

.overskrift{
  font-size: 3vw;
  font-weight: 300;
}

.underoverskrift{
  font-size: 15px;
  font-weight: bold;
}

.brodtekst{
  font-family: sans-serif;
  font-size: 14px;
}

.content{
  max-width: 1400px;
  margin: 0 auto;
}

.cv_boks{

}
.navbar-content{
  max-width: 1400px;
  margin: 0 auto;
}
.menu-items-right{
  float:right;
}
.navbar {

  padding: 3vw;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */;
}

.navbar a {
  font-size: 20px;
  text-decoration: none;
vertical-align: middle;
  color: black;
  padding: 30px;
}

.navbar a:hover{
  color: green;
}

hr{
  position: relative;
  width: 100%;

}

.prosjekt{
  height: 500px;
  width: 100%;
  background-color: grey;
  display: flex;
  align-items: center; /* vertikal sentrering */
  justify-content: center; /* horisontal sentrering */
  margin-top: 20px;
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
}

.prosjektboks {
  position: absolute;
  padding: 50px;
  background-color: white;
  transition: transform .4s;
  transition-delay: 500ms;
  display: flex;
  width: 400px;
  align-items: center; /* vertikal sentrering */
  justify-content: center; /* horisontal sentrering */
  margin: 0 auto;
  opacity: 0.5;
}

.prosjektboks h2{
  transition-delay: 500ms;
}

.prosjekt:hover .prosjektboks {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  transition-delay: 0ms;

}
.prosjekt:hover .prosjektboks h2 {
  opacity: 0;
  transition-delay: 0ms;



}

.prosjektTekst{
position: relative;
  padding: 50px;
  transition: .4s;
  transition-delay: 0ms;
  border-style: dotted;
  display: flex;
  align-items: center; /* vertikal sentrering */
  justify-content: center; /* horisontal sentrering */
  margin: 0 auto;
  opacity: 0;
}

.prosjekt:hover .prosjektTekst{
  opacity: 1;
  transition-delay: 400ms;
}


.wrapper {
  width: 80%;
  margin: 10px auto;
}
.row {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 1em;

}

.cell {
  display: table-cell;
  padding:.5em;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}


@media (max-width: 600px) {
  .row,
  .cell
  {
    display: block;
  }
}

#kontakt_innhold{
  text-align: center;
  padding: 30px;
}




.footer{
  background-color: black;
  padding: 20px;
  color: white;
  bottom: 0;
  position: relative;
  height: 200px;
  width: 100%;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.footer_icons{
    text-decoration: none;
    color: white;
    padding: 10px;

}

.instagram_icon:hover i:before{
  background: rgb(255,162,4);
   background: linear-gradient(20deg, rgba(255,162,4,1) 18%, rgba(189,15,204,1) 75%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.behance_icon:hover i:before{
  color: #053eff;
}

.github_icon:hover i:before{
  background: rgb(44,0,77);
background: linear-gradient(0deg, rgba(44,0,77,1) 0%, rgba(149,25,156,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.linkedin_icon:hover i:before{
  color: #0072b1;
}



.grid-container {
  margin: 10px;
  display: grid;
  grid-template-columns: 5% 31.6% 31.6% 31.6%;
  grid-template-rows: 10% 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%;
  grid-template-areas: ". Utdanning Erfaring Verv" "tjue uib aquacare ." ". uib . ." "nitten hvl akademika ." ". hvl akademika okonomi" "atten hvl norli okonomi" ". hvl norli arrangement" "sytten hvl norli arrangement" ". hvl norli ." "seksten hafstad norli ." ". hafstad norli .";
}

.cv_headers{
  text-align: center;


}
.Utdanning { grid-area: Utdanning; }
.Erfaring { grid-area: Erfaring; }
.Verv { grid-area: Verv; }

.cv_boks{
  padding: 20px;
  margin: 1vw;
  height:100%;

}


.hvl {
  grid-area: hvl;
  background-color:#004357;
  color: white;

}

.uib {
grid-area: uib;
  background-color:#cf3c3a;
  color: white;
 }

.hafstad {
  background-color:#f2f2f2;
  color: black;
  grid-area: hafstad; }

.aquacare {
  background-color:#ffffff;
  color: black;
  grid-area: aquacare;
      margin-bottom:900px;
 }

.akademika {
  background-color: #f2f2f2;
  color: black;
  grid-area: akademika; }

.norli {
  background-color: #f2f2f2;
  color: black;
  grid-area: norli; }

.arrangement {
  background-color: #4A4A4A;
  color: white;
  grid-area: arrangement;

}

.okonomi {
  background-color: #4A4A4A;
  color: white;
   grid-area: okonomi;
}

.cv_aar{
  border-bottom: 3px solid black;


}
.cv_aar p{
  height: 85%;
  display:flex;
  align-items: flex-end;
  justify-content: flex-end;
  float: left;
  padding: 5px;
}

@media (max-width: 600px) {
  .cv_aar
  {
    display: none;
  }
}



.tjue {
  grid-area: tjue; }

.nitten { grid-area: nitten; }

.atten {
  grid-area: atten; }

.sytten { grid-area: sytten; }

.seksten { grid-area: seksten; }

.cv_logo{
  max-height: 4vh;
max-width: 10vw;
float: left;
}

.kontakt_bilde{
  width: 300px;
  height: 400px;
}

.kontakt_footer{
  padding: 20px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 0;
  height: 200px;
  width: 100%;
  text-align: center;
}
